form {
  background: -webkit-linear-gradient(bottom, #6f9b7d, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #6f9b7d, #EEEEEE 175px);
  background: linear-gradient(bottom, #6f9b7d, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 550px;
  height: 650px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
    color: #CCCCCC;
    opacity: 1 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #CCCCCC;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #CCCCCC;
}

:-ms-input-placeholder {  
   color: #CCCCCC;
}

.styledSelect select {
   
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border-color:#000;
   border-radius: 1px;
   height: 34px;
   }