/* tiny */

.appBar{ display:block; font-size: 20px;
}

.app_logo{
       margin:0 auto 0 auto; display:block;
}

.head_links{  margin:0 auto 0 auto;
        
}

.appBar ul li{  display: block; margin: 20px auto 0 auto;
        
}

.smtm{ max-width: 300px;    height:385px;
}

.banner{
         font-size:30px;
}

.bookLine{ max-width: 350px;    height:300px;
}

.bannerWords{
    max-width: 320px;
}

header a.logo {
    width:0px;
    height:0px;
    top:16px;
    right:15px;
}

header a.logo {
    width:0px;
    height:0px;
    top:16px;
    right:15px;
}

#draftHeader a.logo{
    width:0px;
    height:0px;
    top:16px;
    right:15px;
}

#pylBanner{ padding:25px; margin:0 auto 0 auto; font-size:30px;
}



#pylBSP{
        font-size: 14px;
}

#draftBSP{
        font-size: 14px;
}

article{display:block;}



#pylBanner{ padding:25px; margin:0 auto 0 auto; font-size:20px;
}

#pylBSP{
        font-size: 10px;
}

.exhibitNote{
            padding:25px; margin:0 auto 0 auto; font-size:1.2em; padding:5px; 
}

.sponsorTop{ font-size:1.2em; 
}

#aboutIndex{
             font-size:1em;
}

#readMore{
          border:3px solid green; border-radius:10px; height:20px; width:100px; padding: 5px;   
}

.sponsor{font-size:.8em; padding:5px; overflow:hidden;}

.chapter{font-size:.6em;}

.promo_container {
    padding: 0px;
}

.promo_container .promo{
    width:auto;
    float:none;
    padding: 10px 0 0 0;
    background-position: 20px 13px;
    border-top: 1px solid #ccc;
}

.promo_container .promo .content{
    padding: 0 20px 5px 100px;
}

form {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  position: relative;
  width: 400px;
  height: 500px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


input {
  margin: 5px;
  width: 300px;
  display: block;
  border: 1px solid #999;
  height: 20px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.styledSelect select {
   
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 12px;
   line-height: 1;
   border-color:#000;
   border-radius: 1px;
   height: 25px;
   }